<div class="body">
<p id="notice">Notice section<%= notice %></p>

<p><h1>This is my Customized app developed on Ruby on Rails </h1></p>
<br>
<p class="label">Developed by : ANIL PATHAK</p>
<hr class="hr1">
<h1>Users</h1>

<table class="table">
  <thead class="thead">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<a href="http://localhost:3000/static_pages/home"> Sample Home Page </a>
</div>
